<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        数值A:
        <input type="text" name="" id="" v-model="a">
        <br> 数值B:
        <input type="text" name="" id="" v-model="b">
        <br>
        <input type="button" value="计算" @click="calc">
        <br> 结果：{{result}}
    </div>
    <script src="./js/vue.js"></script>
    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                a: 0,
                b: 0,
                result: 0
            },
            methods: {
                calc: function () {
                    this.result = parseInt(this.a) + parseInt(this.b);
                }
            }

        });
    </script>
</body>

</html>