<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">

        {{msg}} <br>

        <input type="text" v-model="msg">

    </div>

    <!-- 1. 导入vue.js -->
    <script src="js/vue.js"></script>
    <!-- <script src="./js/vue.js"></script> -->
    <!-- 2. 双向数据绑定：v-model='data的数据属性名' ，只能应用与表单控件 -->
    <script>
        var vue = new Vue({
            el:'#app',
            data:{
                msg:'Hello duckEgg!'
            }
        });
    
    </script>
    
</body>
</html>