<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- 
        vue的循环： v-for = "value in 数据中的集合/数组/对象"
                   v-for = "(value,index) in 数据中的集合/数组/对象"


     -->
     
    <div id="app">
        <ul>
            <li>apple</li>
            <li>orange</li>
            <li>banana</li>
        </ul>
        <ul>
            <!-- 插值表达式可以显示data的数据，也可以显示循环的变量value、index -->
            <li v-for="value in fruits">{{value}}</li>
            <li v-for="(value,index) in fruits">{{value}} -- {{index}}</li>
            <li v-for="(obj,index) in myFruits">{{obj.cname}} -- {{index}}</li>
        </ul>
    </div>
    <script src="js/vue.js"></script>
    
    <script>
       var vue = new Vue({  
            el:'#app',
            data:{
                fruits: ['apple', 'orange', 'banana'],
                myFruits: [{
                id: 1,
                ename: 'apple',
                cname: '苹果'
                },{
                id: 2,
                ename: 'orange',
                cname: '橘子'
                },{
                id: 3,
                ename: 'banana',
                cname: '香蕉'
                }]
            },
            methods:{
                
            }
        });

    </script>
    
</body>
</html>