<!DOCTYPE html>
<html lang='zh-cn'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport content=' width=device-width, initial-scale=1.0>
    <title>Document</title>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- <link rel="stylesheet" href="css/tushu.css"> -->
    <!-- 引入组件库 -->
    <style>
        body {
            background-color: #eee;
        }
        
        .clearfix::after,
        .clearfix::before {
            content: '';
            display: table;
            clear: both;
        }
        
        .tac {
            display: flex;
            justify-content: center;
        }
        
        th .cell {
            text-align: center;
        }
        
        table tr td:nth-child(1),
        table tr td:nth-child(3) {
            text-align: center;
        }
        
        .mt20 {
            margin-bottom: 30px;
            overflow: hidden;
            width: 500px;
            text-align: center;
            display: flex;
            justify-content: center;
            width: 80%;
            margin: auto;
            margin-bottom: 30px;
        }
        
        .tablewidth {
            width: 800px;
        }
        
        .box {
            background-color: #fff;
            padding: 10px 30px 30px;
            width: 800px;
            margin: auto;
        }
        
        .box h3 {
            font-family: "PingFang SC", "Helvetica Neue";
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            padding-bottom: 10px;
        }
    </style>
</head>

<body>

    <div id="app">
        <div class="box">
            <h3>图书案例管理系统</h3>
            <h4 style="text-align: center;">图书总数:{{len}}</h4>
            <div class="clearfix  mt20">
                <div class="el-input el-input-group el-input-group--append el-input--suffix">
                    <!--  怎么去文本框的值 -->
                    <input type="text" v-model="name" placeholder="请输入内容" class="el-input__inner">

                    <div class="el-input-group__append">

                        <button @click="submitForm" type="button" class="el-button el-button--default">
                            <!-- 编辑icon    当点击修改按钮转换才显示-->
                            <!--  如果flag 为false  上面icon显示  -->
                            <i v-show="!flag" class="el-icon-edit"></i>
                            <!-- 添加icon -->
                            <i v-show="flag" class="el-icon-circle-plus-outline"></i>

                        </button>
                    </div>
                </div>
            </div>
            <div class=" el-table el-table--fit el-table--border el-table--enable-row-hover el-table--enable-row-transition  tablewidth">
                <div class="el-table__header-wrapper">
                    <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 820px;">
                        <colgroup>
                            <col name="el-table_3_column_7" width="50">
                            <col name="el-table_3_column_8" width="160">
                            <col name="el-table_3_column_9" width="130">
                            <col name="el-table_3_column_9" width="130">
                        </colgroup>
                        <thead class="has-gutter">
                            <tr>
                                <th colspan="1" rowspan="1" class="el-table_3_column_7     is-leaf">
                                    <div class="cell">编号</div>
                                </th>
                                <th colspan="1" rowspan="1" class="el-table_3_column_8     is-leaf">
                                    <div class="cell">名称</div>
                                </th>
                                <th colspan="1" rowspan="1" class="el-table_3_column_9     is-leaf">
                                    <div class="cell">时间</div>
                                </th>
                                <th colspan="1" rowspan="1" class="el-table_3_column_9     is-leaf">
                                    <div class="cell">操作</div>
                                </th>
                                <th class="gutter" style="width: 0px; display: none;"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="el-table__body-wrapper is-scrolling-none">
                    <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 820px;">
                        <colgroup>
                            <col name="el-table_3_column_7" width="50">
                            <col name="el-table_3_column_8" width="160">
                            <col name="el-table_3_column_9" width="130">
                            <col name="el-table_3_column_9" width="130">
                        </colgroup>
                        <tbody>


                            <tr class="el-table__row" v-for="item  in  booksList" :key="item.id">
                                <td rowspan="1" colspan="1" class="el-table_3_column_7  ">
                                    <div class="cell">{{item.id}}</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_3_column_8  ">
                                    <div class="cell">{{item.name}}</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_3_column_9  ">
                                    <div class="cell">{{item.date | dateFormat}}</div>
                                </td>
                                <td rowspan="1" colspan="1" class="el-table_3_column_9  tac ">

                                    <button @click="edit(item.id)" type="button" class="el-button el-button--primary el-button--mini">
                                        <i class="el-icon-edit"></i>
                                    </button>

                                    <button @click="deltetBook(item.id)" type="button" class="el-button el-button--danger el-button--mini">
                                        <i class="el-icon-delete"></i>
                                    </button>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                <div class="el-table__column-resize-proxy" style="display: none;"></div>
            </div>
        </div>
    </div>
    <script src="js/vue.js"></script>

    <script src="js/axios.min.js"></script>
    <script>
        //  每次请求他会自动帮我们拼接这个url地址
        axios.defaults.baseURL = 'http://localhost:3001';

        Vue.filter('dateFormat', function(val) {
            //   拿到时间戳之后转换成年月日 
            var time = new Date(val)
            console.log(time)
            var y = time.getFullYear()
                //  月的取值 是  0  - 11
            var m = time.getMonth() + 1
            var d = time.getDate()
            return y + '年  ' + m + '月  ' + d + '号'
        })

        new Vue({
            el: "#app",
            data: {
                booksList: [],
                // name   文本框中输入的图书名字
                name: "",
                // flag 通过这个flag 来控制 icon 的显示和隐藏
                //  如果flag为true 添加   flag 为false 应该是修改
                flag: true,
                id: ''
            },
            computed: {
                len: function() {
                    return this.booksList.length
                }
            },
            methods: {
                async getList() {
                    var res = await axios.get('/books')
                    this.booksList = res.data
                },
                async submitForm() {
                    // 如果flag为true 添加   flag 为false 应该是修改
                    if (this.flag) {
                        //   添加
                        if (!this.name) {
                            return alert("不能为空")
                        }
                        var res = await axios.post('/books', {
                            name: this.name
                        })
                    } else {
                        //  修改的逻辑
                        var res = await axios.put('/books/' + this.id, {
                            name: this.name
                        })
                        this.flag = true
                    }
                    //  重新获取最新的数据
                    this.getList()
                    this.name = ''
                },
                //   修改的方法
                async edit(id) {
                    const res = await axios.get('books/' + id)
                        // this.name   给表单v-model 绑定的值
                    this.name = res.data.name
                        //  把id 存起来   方便修改的时候使用
                    this.id = id
                    this.flag = false
                },
                // 删除
                async deltetBook(id) {
                    const res = await axios.delete('books/' + id)
                    this.getList()
                }
            },
            created() {
                this.getList()
            },
        })
    </script>

</body>

</html>